/* Font*/
*{
  background-color: #0F1624;
}
body{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}


nav {
  display: flex;
  justify-content: space-around;
  
}

.btn-primary{
  border-radius: 5px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%); 
  border: 0;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.nav-title{
  color: #fff;
  font-size: 32px;
  font-weight: 500;

}

nav > ul{
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 130px;
  font-size: 28px;
  margin-top: 20px;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: #fff;
}