/* Font*/
*{
  background-color: #0F1624;
}

body{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}


nav {
  display: flex;
  justify-content: space-around;
  margin: 0 100px;
  
}

.btn-primary{
  border-radius: 5px;
  background: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%); 
  border: 0;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 15px;
  border-radius: 85px;
}

.nav-title{
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  margin-right: 5px;
  display: flex;
  align-items: center;
}


nav > ul{
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 130px;
  font-size: 24px;
  margin-top: 20px;
  align-items: center;
}

nav a{
  text-decoration: none;
  color: #fff;
}
nav > img{
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 10px;
  align-items: center;
}

nav ul img{
  margin-top: 20px;
  margin-left: 30px;
  align-items: center;
}

.banner{
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}

.banner div h1{
  color: #fff;
  font-size: 50px;
}

.banner div P{
  color: #fff;
  font-size: 28px;
  padding-left: 30px;
  margin-right: 20px;
}

.banner  img{
  background-image: url('../Image/Profile_Background.png');
  background-repeat: no-repeat;
  background-size: 720px;
  background-position: bottom right;
}

