header {
    background-color: black;
    margin: auto;
    padding: 16px;
}

header label1{
    background-color: black;
    color: white;
    margin-left: 10px;
    margin-right: 900px;
    position: relative;
    font-size: 24px;
}
header label{
    background-color: black;
    color: white;
    position: relative;
    margin-right: 20px;
    font-size: 18px;
}

header label5{
    background-color: black;
    color: white;
    position: relative;
    margin-left: 50px;
    font-size: 18px;
}

.Cover_Display{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.Cover_Display img{
    min-width: 300px;
}

